.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    //padding-bottom: 20px;
    margin: 0;
    color: #FFF;
    background-color: #313131;
}

a:link{
  color:#FFF;
}
a:visited{
  color:#FFF;
}
a:hover{
  color: #777777;
}
a:focus{
  color:#FFF;
}
a:active{
  color:#FFF;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    //padding-left: 15px;
    //padding-right: 15px;
    background: url(/images//dark_geometric.png);
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 0px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        //max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.header li {
  display: inline;
}
.container {
  margin-top: 30px;
  margin-bottom: 30px;
}
#chat-container {
  width: 1100px;
  display: block;
}
//#chat-wrapper, #user-list-wrapper {
//  display: inline-block;
//  overflow-x: hidden;
//  float: left;
//}

.smile-box {
  position: absolute;
  top: -70px;
  background: rgba(0,0,0,0.3);
  width: 100%;
  //float: right;
  ul {
    list-style-type: none;
    padding-left: 0px;
    li {
      display: inline;
      padding: 5px;
    }
  }
}
#message-form{
  //width: 600px;
  display: inline-block;
}
#messages, #user-list{
  height: 600px;
  overflow-y: scroll;
  padding: 10px;
}
#messages {
  width: 700px;
}
#user-list {
  width: 250px;
}
.message-info {
  float: left;
  width: 200px;
  .nickname{
    max-width: 110px;
    display: inline-block;
    overflow: hidden;
  }
  .date{
    overflow: hidden;
    display: inline-block;
  }
}
.message-text {
  float: left;
  width:450px;
}
#messages ul, #user-list ul{
  list-style-type: none;
  padding-left: 0px;
}
.footer {
  display: block;
}
.clear {
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clickable:hover {
  cursor: pointer;
}

.message-list{
  list-style-type: none;
  padding: 0px;
  padding-left: 10px;
  margin: 0px;
}
.message{
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  //img, .message-info, .message-info {
  //  display: inline-block;
  //}
}
.admin-message{
  color: red;
}
.user-message{
}

.player{
  position: absolute;
  top: 10px;
  right: 10px;
}
