<div ng-controller="NavbarCtrl">
    <h3 class="left">SSAU radio</h3>
    <ul class="nav left">
        <li ng-class="{active: isActive('/')}"><a href="/">Home</a></li>
        <li ng-show="currentUser" ng-class="{active: isActive('/settings')}">| <a href="/settings">Settings</a></li>
        <li ng-hide="currentUser" ng-class="{active: isActive('/login')}">| <a href="/login">Login</a></li>
        <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}">| <a href="/signup">Sign up</a></li>
        <li ng-show="currentUser" ng-class="{active: isActive('/logout')}">| <a href="" ng-click="logout()">Logout</a></li>
        <li ng-show="currentUser">| {{ currentUser.nickname }}</li>
        <li ng-hide="currentUser">| {{ guestNickname }}</li>
        <li ng-show="isAdmin()">| Admin</li>
  </ul>
</div>
<div class="clear"></div>