<div class="row">
    <div class="col-sm-12">
        <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
        <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

            <div class="form-group">
                <label>Nickname</label>

                <input type="text" name="nickname" class="form-control" ng-model="user.nickname"
                       mongoose-error maxlength="14" required/>

                <p class="help-block" ng-show="form.nickname.$error.mongoose">
                    {{ errors.nickname }}
                </p>
            </div>

            <div ng-show="currentUser && currentUser.providers.length == 0"> <!-- Password change BEGIN -->
                <div class="form-group">
                    <label>Current Password</label>

                    <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                           mongoose-error/>

                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.password }}
                    </p>
                </div>

                <div class="form-group">
                    <label>New Password</label>

                    <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                           ng-minlength="3"
                           required/>

                    <p class="help-block"
                       ng-show="passwordUpdate && (form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                        Password must be at least 3 characters.
                    </p>
                </div>
            </div> <!-- Password change END -->

            <p class="help-block" ng-show="errors.other">
                {{ errors.other }}
            </p>

            <p class="help-block"> {{ message }} </p>

            <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
        </form>
    </div>
</div>
