<div class="row">
  <div class="col-sm-12">
    <h1>Sign up</h1>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="register(form)" novalidate>

      <div class="form-group" ng-class="{ 'has-success': form.nickname.$valid && submitted,
                                          'has-error': form.nickname.$invalid && submitted }">
        <label>Nickname</label>

        <input type="text" name="nickname" class="form-control" ng-model="user.nickname"
               required/>
        <p class="help-block" ng-show="form.nickname.$error.required && submitted">
          A nickname is required
        </p>
        <p class="help-block" ng-show="form.nickname.$error.mongoose">
          {{ errors.nickname }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                          'has-error': form.password.$invalid && submitted }">
        <label>Password</label>
        
        <input type="password" name="password" class="form-control" ng-model="user.password"
               ng-minlength="3"
               required
               mongoose-error/>
        <p class="help-block"
           ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
          Password must be at least 3 characters.
        </p>
        <p class="help-block" ng-show="form.password.$error.mongoose">
          {{ errors.password }}
        </p>
      </div>

      <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <hr>
    Have an account? <a href="/login" class="text-center new-account">Log in.</a>
  </div>
</div>